body {
  background-color: #f9f9f9 !important;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}
.jumbotron {
  background-color: transparent;
}
header {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 0px;
}

#header-video {
  height: 85rem;
}
#header-video-text {
  margin-top: 50px;
  color: #ff9c11;
}
#small-grid {
  position: relative;
}

.thumbnail {
  height: 200px;
}

.content-main {
  margin-top: 150px;
  width: 85%;
  height: 500px;
  background-color: white;
}

.footer {
  flex: 2;
  min-height: 150px;
  max-height: 150px;
  background-color: #101010;
  margin-top: 50px;
}

.small-grid-wrapper {
  background-color: black;
  opacity: .2;
  width: 100%;
  height:100%;
}
.small-grid-wrapper:hover {
  opacity: 0;
}
.t1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.header-pic {
  width: 100%;
  height: 100%;
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/maxresdefault%2Bcopy.jpg');
  background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.chapter {
  width: 200px;
  height: 200px;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}
.spacer {
  margin-top: 25px;
}
.chapters-grid {
  margin-top: 55px;
}
.header-other-pic {
  height: 100vh;
}
#class-pic {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/group2_2016.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
main {
  flex: 1;
}
.category-text {
  height: 43rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content:center;
  background-color: #121270;
}
.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
row.is-flex {
  display: flex  !important;
  flex-wrap: wrap
}
.row.is-flex > [class*='col-'] {
  display: flex;
 flex-direction: column;
  justify-content: center;
}
.container-fluid.flex-row.color-block-blue {
  background-color: #121270;
  color: white;
  padding: 35px;
}
.border-right {
  border-right: 2px solid white;
}
.orange-overlay {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/orange.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.blue-overlay {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/fin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.contact-form {
  padding: 100px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  #custom-nav {
    background-color: #000000;
    border: 0;
    box-shadow: none;
    z-index: 999;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transition: background .5s ease-in-out, opacity .5s ease;
   -moz-transition: background .5s ease-in-out, opacity .5s ease;
   transition: background .5s ease-in-out, opacity .5s ease; 
  }
  #custom-nav .container {
    -webkit-transition: padding-top .5s ease, padding-bottom .5 ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5 ease;
    transition: padding-top .5s ease, paddin-bottom .5s ease; 
  }
  #custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    transition: background .5s ease-in-out, opacity .5s ease; 
  }
  #header-video {
    padding-top: 0; 
  }
  .header-other-pic{
    padding-top: 0; 
  }
  .navbar-nav {
    float: right 
  }
  .nav-black-font {
    color: black !important; 
  }
}
