body {
  background-color: #f9f9f9 !important;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.jumbotron {
  background-color: transparent;
}
.btn {
  border-radius: 0px;
}

#header-video {
  height: 85rem;
}
#header-video-text {
  margin-top: 50px;
  color: #ff9c11;
}
#small-grid {
  position: relative;
  top: -150px;
}

.thumbnail {
  height: 200px;
}

.content-main {
  margin-top: 150px;
  width: 85%;
  height: 500px;
  background-color: white;
}

.footer {
  flex: 2;
  min-height: 150px;
  max-height: 150px;
  background-color: #101010;
  margin-top: 50px;
}

.small-grid-wrapper {
  background-color: black;
  opacity: .2;
  width: 100%;
  height:100%;
}
.small-grid-wrapper:hover {
  opacity: 0;
}
.t1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.t4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/join');
  background-size: cover;
  background-repeat: no-repeat;
}
.header-pic {
  width: 100%;
  height: 100%;
  background-image: url('https://s3-us-west-2.amazonaws.com/futuro-bucket/maxresdefault+copy.jpg');
  background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.chapter {
  width: 200px;
  height: 200px;
  background-color: red;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}
.spacer {
  margin-top: 25px;
}
.chapters-grid {
  margin-top: 55px;
}
main {
  flex: 1;
}
